@tailwind components;

* {

  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
}

a {
  color: unset;
  text-decoration: none;
}

.gradient__bg {
  
    /* global 92%+ browsers support */
    background: radial-gradient(circle at 3% 25%, rgba(1, 28, 73, 0.91) 0%, rgba(3, 9, 23, 0.85) 93%);

   
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.section__padding {
  padding: 4rem 6rem;
}
.section__padding_lg {
  padding-left: 12rem;
  padding-right: 12rem;
  padding-top: 12rem;
  padding-bottom: 1rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Change '3' to the number of columns you want */
  grid-gap: 1rem; /* Adjust the gap between grid items */
}

.section__margin {
  margin: 4rem 6rem;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (max-width: 1050px) {
  .section__padding_lg {
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 12rem;
    padding-bottom: 1rem;
    grid:none
  }
    
  }


@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }

  .section__margin {
    margin: 4rem;
  }

  .section__padding_lg {
    padding-top: 6rem;
    padding-right: 8rem;
    padding-bottom: 1rem;
    padding-left: 8rem;
   
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .section__margin {
    margin: 4rem 2rem;
  } 
  
  .section__padding_lg {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    /* grid:none; */
   
  }
}

@layer components {
  .error {
    @apply text-red-500 text-sm m-0;
  }
  .error::before {
    content: "⚠ ";
  }
}


.error-text {
  color: red; /* Set the text color to red */
  font-size: 18px; /* Set the font size for the error text */
  margin: 1rem;
   /* Remove any default margin to ensure proper alignment */
  /* You can add more styles here as needed */
}


  


 